.headerLogo{
    display: inline-block;
    width: 15%;
    margin: 0% 25% 0% 25%;
    padding-bottom: 1.5%;
}

.headerIcon{
    font-size: 1.6em;
    vertical-align: -0.3em !important;
    color: white !important;
}

.header{
    text-align: center;
    background-image: url('../background.png');
    background-repeat: no-repeat;
    background-size: 150% 100%;
}

.profileImage{
    width: 20%;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5%;
    -webkit-box-shadow: 0px -4px 3px #066422;
    -moz-box-shadow: 0px -4px 3px #066422;
    box-shadow: 0px 0px 6px #066422;
}

.menuIcon{
    font-size: 1.5em;
    margin-right: 5%;
    color: #066422 !important;
}

.menuText{
    font-size: 1em;
    vertical-align: 0.2em;
}

.menuItem{
    margin-bottom: 7%;
    padding-bottom: 7%;
    border-bottom: 0.1px solid #066422;
}